package com.example.{{FEATURE_PACKAGE}}.ui.screens.{{SCREEN_FOLDER}}

import androidx.compose.runtime.Composable
import androidx.compose.runtime.getValue
import androidx.hilt.navigation.compose.hiltViewModel
import androidx.lifecycle.compose.collectAsStateWithLifecycle
import com.example.designsystem.component.containers.AppErrorContainer
import com.example.designsystem.component.containers.AppScaffold
import com.example.designsystem.component.topBar.AppTopBar
import com.example.ui.animations.AppScreenLoadProgressBar

@Composable
internal fun {{SCREEN_CLASS}}Route(
    viewModel: {{SCREEN_CLASS}}ViewModel = hiltViewModel(),
    onBackPressed: () -> Unit,
) {
    val uiState by viewModel.uiState.collectAsStateWithLifecycle()

    {{SCREEN_CLASS}}Screen(
        uiState = uiState,
        onBackPressed = onBackPressed,
    )
}

@Composable
private fun {{SCREEN_CLASS}}Screen(
    uiState: {{SCREEN_CLASS}}UiState,
    onBackPressed: () -> Unit,
) {
    when (uiState) {
        is {{SCREEN_CLASS}}UiState.Loading -> AppScreenLoadProgressBar()
        is {{SCREEN_CLASS}}UiState.Error -> AppErrorContainer(
            onBackPressed = onBackPressed,
            error = uiState.exception,
        )
        is {{SCREEN_CLASS}}UiState.Success -> {{SCREEN_CLASS}}Content(
            state = uiState,
            onBackPressed = onBackPressed,
        )
    }
}
